<%= form_for :question, url: questions_path do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
   <%= f.collection_select(:category_id, Category.all, :id, :category_name, :prompt => 'Select One') %>
  </div>
  <div class="field">
    <%= f.label :title %> (Enter a concise question) <br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.label :worth %> (Enter a dollar amount in snacks you're willing to pay for the help.)</p>
    <%= f.text_field :worth %>
  </div>
  <!--
  <div class="field">
    <%= f.label :spam %><br>
    <%= f.check_box :spam %>
  </div>
-->
  <%= f.hidden_field :user_id %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
